    .file{
        width: 200px;
        height: 25px;
        line-height: 25px;
        position:relative;
    }
    .file input{
        width: 75px;
        height: 25px;
        opacity:0;
        filter:alpha(opacity=0);
        position:absolute;
        left:0;
        top:0;
        float: left;
        margin-left: 20px;
    }
    .file span{
        padding-right: 5px;
        padding-bottom: 2px;
        padding-top: 2px;
        background-color: green;
        margin-left: 20px;
    }
    .file button{
        width: 75px;
        height: 25px;
        position:absolute;
        margin-left: 20px;
        float: right;
        background-color: #aaa;
    }
    .center-in-center{
        box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
        display: none; 
        width: 200px;   
        height: 200px;   
        background-color: white;   
        position: absolute;   
        top: 50%;   
        left: 50%;   
        -webkit-transform: translate(-50%, -50%);   
        -moz-transform: translate(-50%, -50%);   
        -ms-transform: translate(-50%, -50%);   
        -o-transform: translate(-50%, -50%);   
        transform: translate(-50%, -50%);   
    }   
    #show-change{
        float: right;
        font-size: 12px;
        background-color: yellow;
        border:0;
        margin-top: 10px;
    }
    #hide-change{
        width: 20px;
        height: 20px;
        float: right;
        margin-right: 2px;
    }
    #hide-change button{
        border:0;
        background-color: white;
    }

/*店铺信息下拉框*/
    .store-name-zong{
        width: 160px;
        height: 40px;
        background-color: white;
        padding: 10px 20px;
    }
    .store-name{
    	width: 40px;
    	height: 20px;
    	float: left;
    }
    .store-identity-verify{
    	width: 20px;
    	height: 20px;
    	margin-top: 4px;
    	margin-left: 10px;
    	float: left;
    }
    #store-identity-verify-i1{
    	display: none;color: red;
    }
    #store-identity-verify-i2{
    	display: none;
    }
    .store-information-show-k{
    	width: 160px;
    	height: 230px;
    	margin-top: -10px;
    	position: absolute;
    	background-color: white;
    	box-shadow: 0 2px 4px 0 rgba(0,0,0,.2)
    }
    .head-portrait{
    	width: 160px;
        height: 50px;
        padding: 10px 20px;
    }
    .business-level-zong{
    	width: 160px;
    	height: 30px;
    	padding: 20px 20px;
    }
    .business-level-title{
    	width: 60px;
    	height: 20px;
    	font-size: 12px;
    	color: #666;
    	float: left;
    }
    .business-level-data{
    	text-align: center;
    	width: 60px;
    	height: 20px;
    	font-size: 12px;
    	float: left;
    }
    .merchant-credit-score-zong{
    	width: 160px;
    	height: 30px;
    	padding: 20px 20px;
    }
    .merchant-credit-score-title{
    	width: 60px;
    	height: 20px;
    	font-size: 12px;
    	color: #666;
    	float: left;
    }
    .merchant-credit-score-data{
    	text-align: center;
    	width: 60px;
    	height: 20px;
    	font-size: 12px;
    	float: left;
    }
    .registration-time-zong{
    	width: 160px;
    	height: 30px;
    	padding: 20px 20px;
    }
    .registration-time-title{
    	width: 60px;
    	height: 20px;
    	font-size: 12px;
    	color: #666;
    	float: left;
    }
    .registration-time-data{
    	text-align: center;
    	width: 60px;
    	height: 20px;
    	font-size: 12px;
    	float: left;
    }
/*数据类表*/
    .select-res{
        width: 600px;
        height: 80px;
    }
    .select-res span {
        /*display: inline-block;*/
        float: left;
        width:200px;
        height:34px;
        line-height:14px;
        padding:7px 15px 7px 5px;
        border:solid 1px #c0c0c0;
        background:url(/static/imgs/merchant/releaseBaby/select_box_bg.gif) no-repeat 190px center;
        cursor: pointer;
        color:#c2c2c2;
        text-overflow:ellipsis;
        white-space:nowrap;
        overflow:hidden;
    }
    #releaseDetails{
        float: left;
        width: 200px;
        height: 34px;
    }
    #releaseDetails input{

        display: none;
    }
    #releaseDetails .button{
        margin-left: 20px;
        border:0;
        width: 60px;
        height: 34px;
        line-height:34px;
        text-align: center;
        background-color: #aaa;
        cursor:pointer;
    }
    .select-res p {
        position:relative;
        width: 250px;
        height:38px;
        line-height:38px;
        border-bottom:dashed 1px #c0c0c0;
        padding:3px 5px;
        text-overflow:ellipsis;
        white-space:nowrap;
        overflow:hidden;
        padding-right:20px;
    }
    .select-res a {
        position:absolute;
        top:0;
        right:0;
        display: block;
        width:28px;
        height:28px;
        background:url(/static/imgs/merchant/releaseBaby/close_btn.jpg) no-repeat center;
        cursor:pointer;
    }
    .select-res input {
        width:172px;
        height:14px;
        line-height:14px;
        margin-left:4px;
        padding:7px 5px;
        border:solid 1px #c0c0c0;
        color:#2c2c2c;
    }
    .select-res span.selected {
        color:#626262;
    }
    .select-box {
        border:solid 1px #fd8340;
        width:580px;
        height:240px;
        padding:20px 20px 10px;
        position:absolute;
        display:none;
        z-index:5;
        background: #fff;
    }
    .select-box .close-btn {
        position:absolute;
        right:5px;
        top:5px;
        cursor: pointer;
    }
    .select-box .wrap {
        height:200px;
        border:solid 1px #ddd;
        margin-top:5px;
    }
    .select-box ul {
        float:left;
        width:178px;
        height:200px;
        overflow-y: scroll;
    }
    .select-box ul li {
        height:25px;
        line-height:25px;
        padding:0 10px;
        background: url(/static/imgs/merchant/releaseBaby/arr.gif) no-repeat 152px center;
        color:#626262;
        cursor: pointer;
    }
    .select-box ul li.selected {
        background:url(/static/imgs/merchant/releaseBaby/arr_selected.gif) no-repeat 152px center #fd8340;
        color:#fff;
    }
    