

    /*右数据*/
    .top-information{
    	width: 830px;
    	height: 140px;
    	border-bottom: 1px solid #c4d5e0;
    	margin: 0px 20px;
    }
    .zong-information{
    	width: 790px;
    	height: 100px;
    	margin: 20px 20px;
    }
    .information-title{
    	font-size: 14px;
    	color: #404040;
    }
    .information-name{
    	width: 400px;
    	height: 80px;
    	margin-left: 20px;
    }
    .information-name ul{
    	list-style: none;
    	float: left;
    }
    .information-name ul li{
    	font-size: 14px;
    	margin: 12px 0px;
    }
    .information-show{
    	width: 150px;
    	height: 80px;
        float: left;
    }
    .information-show div{
    	font-size: 14px;
    	margin: 12px 20px;
    }
    .information-modify{
    	width: 150px;
    	height: 80px;
        float: left;
    }
    .information-modify div{
    	font-size: 14px;
    	margin: 12px 20px;
    }
    .c36{
    	text-decoration:none;
    	color: #36c;
    }
    .c36:hover{
    	color: #ff0033;
    }

    /*下安全服务*/
    	/*安全等级*/
    	.bottom-security{
    		width: 830px;
	    	height: 659px;
	    	margin: 0px 20px;
    	}
    	.safetyInformationTitle{
    		width: 790px;
	    	height: 20px;
	    	margin: 20px 20px;
    	}
    	.safetyInformation{
    		width: 680px;
	    	height: 329px;
	    	margin: 20px 80px;
	    	font-size: 14px;
    	}
    	.safetyClassAll{
    		height: 20px;
    		padding: 20px 0;
    	}
    	.safetyClass{
    		width: 120px;
    		height: 20px;
    		float: left;
    	}
    	.safetyClassData{
    		margin-left: 15px;
    	}
    	.safetyClassPhoto{
    		width: 200px;
    		height: 20px;
    		float: left;
    		border: 1px solid #eee;
    	}
    	.safetyClassPhoto div{
    		height: 20px;
    		border-radius: 5%;
    	}
    	/*linear-gradient(to right, red , #ec7474 , #03f403);*/
    	.safetyClassPhotoData{
    		width: 67px;
    		background-color: red;
    		/*display: none;*/
    	}
    	.safetyClassPhotoData1{
    		width: 133px;
    		background-image: linear-gradient(to right, red , #ec7474);
    		display: none;
    	}
    	.safetyClassPhotoData2{
    		width: 200px;
    		background-image: linear-gradient(to right, red , #ec7474 , #03f403);
    		display: none;
    	}
    	.safetyClassIocn{
    		width: 50px;
    		height: 20px;
    		float: left;
    		padding-left: 10px;
    	}
    	.safetyClassIocn img{
    		margin-top: -3px;
    	}
    	/*身份认证*/
    	.identityAuthentication{
    		height: 45px;
    		padding: 20px 0;
    		font-size: 14px;
    		border-bottom:1px dashed #eee;
    	}
    	.noPassIconAll{
    		width: 50px;
    		float: left;
    	}
    	.noPassIcon{
    		height: 25px;
    	}
    	.noPassText{
    		height: 20px;
    	}
    	.identityAuthenticationImg{
    		margin-left:10px;
    		display: none;
    	}
    	.securityQuestionImg{
    		margin-left:10px;
    		display: none;
    	}
    	.authenticationTitle{
    		width: 70px;
    		float: left;
    		height: 45px;
    		padding: 0 30px;
    		letter-spacing:3px ;
    	}
    	.authenticationExplain{
    		width: 400px;
    		height: 45px;
    		font-size: 13px;
    		color: #666;
    		float: left;
    	}
    	.authenticationAlink{
    		width: 60px;
    		height: 45px;
    		float: left;
    		margin-left: 25px;
    	}
        .authenticationAlink a{
            color: #36c;
        }
        .authenticationAlink a:hover{
            color: #ff0033;;
        }
        .safetyClassImgG{
            display: none;
        }
        #identityShowpduan{
            display: none;
        }
        #securityQuestionShowpduan{
            display: none;
        }
    	