.resetAll{
	width: 680px;
	height: 800px;
	padding: 30px 150px;
}

.resetTitle{
	height: 50px;
	line-height: 50px;
}
#userDate{
	color: #f03;
}
.resetDetection{
	margin: 30px 0;
	padding: 30px 50px;
	width: 580px;
	height: 40px;
	border: 1px solid #E1E1CA;
    background-color: #EDFED0;
}
.resetDetectionT{
	float: left;
	margin-left: 20px;
	line-height: 40px;
}
.resetDetectionT span{
	color: #f03;
}
.verification{
	margin: 30px 0;
	padding: 30px 30px;
	width: 620px;
	height: 60px;
	background-color: #fff;
    border: 1px solid #e8e8e8;
    box-shadow: 1px 1px 1px #f4f4f4;
}
.verification:hover{
	background-color: #e5f0f9;
	border-color: #b4c2ea;
}


.verificationT{
	width: 400px;
	height: 60px;
	float: left;
	margin-left: 20px;
	line-height: 60px;
	color: #666;
}
.verificationT span{
	color: #f03;
}
.verificationReset{
	float: left;
	width: 140px;
	height: 60px;
}
.verificationResetSon{
	width: 90px;
	height: 30px;
	margin: 15px 25px;
	background-color: #f03;
	text-align: center;
}
.verificationResetAlink{
	color: #fff;
    line-height: 30px;
}

.verificationReset:hover .verificationResetSon{
	opacity: .8;
}
.verificationReset:hover .verificationResetSon a{
	color: #fff;
}