<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>天猫登录</title>
	<link rel="icon" href="/static/imgs/tm2.ico"  />
    <link rel="stylesheet" href="/static/css/user/login.css">
    <link rel="stylesheet" href="/static/css/font-awesome/css/font-awesome.min.css">
    <script src="/static/js/jquery-3.4.1.js"></script>
</head>

<body>

<div style="width: 100%;">
    <div style="width: 1280px;height: 90px;margin:0 auto;">
        <div id="head">
            <img src="/static/imgs/user/login/2.jpg" style="width: 190px;
                height: 27px;">
        </div>
    </div>
	<div class="center">
		<div class="center1">
            <div class="box">
                <div class="box_two">
                    <span>密码登录</span>
                    <div id="namePawwB" class="noMatching">你输入的账号和密码不匹配</div>
                    <div id="namePawwGB" class="noMatching">你输入的账号和密码格式有误</div>
                    <div id="nameK" class="noMatching">请输入账号</div>
                    <div id="PawwK" class="noMatching">请输入密码</div>
                    <!-- <div id="namePawwk" class="noMatching">请输入的账号和密码</div> -->
                    <div>
                        <form id="dologin">
                            <div class="filed"><label class="filed_one"><i class="fa fa-user" aria-hidden="true" title="会员名"></i></label><span></span>
                                <input type="text" name="nameEamilPhone" id="name" class="login_text" placeholder="会员名/邮箱/手机号">
                            <div class="filed"><label class="filed_one"><i class="fa fa-unlock-alt" aria-hidden="true" title="密码"></i></label><span></span>
                                <input type="password" name="password" id="password" class="login_text">
                            </div>
                            <button class="submit">登录</button>
                        </form>
                    </div>
                    <ul>
                        <li></li>
                    </ul>
                    <div class="login_link">
                        <a href="/user/findPass" >忘记密码</a><a>忘记会员名</a><a href="/user/register1">免费注册</a>
                    </div>
                </div>
            </div>      
        </div>
		
	</div>
    <ul>
        <li></li>
    </ul><br><br><br>
    <div>
        <div class="foot_one">
            <a>关于天猫</a><a>帮助中心</a><a>开放平台</a><a>诚聘英才</a><a>联系我们</a><a>网站合作</a><a>法律声明</a><a>隐私权政策</a><a>知识产权</a><a>廉政举报</a>
        </div><br>
        <div class="foot_two">
            <a>阿里巴巴集团</a><a>淘宝网</a><a>天猫</a><a>聚划算</a><a>全球速卖通</a><a>阿里巴巴国际交易市场</a><a>1688</a><a>阿里妈妈</a><a>飞猪</a><a>阿里云计算</a><a>Alios</a>
            <a>阿里通信</a><a>万网</a><a>高德</a><a>UC</a><a>友盟</a><a>虾米</a><a>钉钉</a><a>支付宝</a>
        </div><br>
        <div class="foot_three">
            <a>增值电信业务经营许可证： 浙B2-20110446 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp市场名称登记证：工商网市字3301004119号 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp出版物网络交易平台服务经营备案证： 新出发浙备字第001号</a><br><br>
            <a>互联网违法和不良信息举报电话：0571-81683755 blxxjb@alibaba-inc.com &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp互联网药品信息服务资质证书编号：浙-（经营性）-2017-0005  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp浙公网安备 33010002000120号</a><br><br>
            <a>医疗器械网络交易服务第三方平台备案：（浙）网械平台备字[2018]第00002号&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 互联网药品交易服务资格证书：国A20150001</a><br><br>
            <a>浙江省网络食品销售第三方平台提供者备案：浙网食A33010002 12318举报</a><br><br>
            <a>© 2003-2019 TMALL.COM 版权所有</a><br><br>
        </div>
    </div>
</div>

<script src="/static/js/user/login.js"></script>
</body>
</html>