<!DOCTYPE html>
<html>
<head>
	<title>天猫tmall.com--重置密码</title>
	<meta charset="utf-8">
	<link rel="icon" href="/static/imgs/tm2.ico"  />
	<link rel="stylesheet" type="text/css" href="/static/css/user/findPass.css">
	<link rel="stylesheet" type="text/css" href="/static/css/user/resetPasswords.css">
	<script type="text/javascript" src="/static/js/jquery-3.4.1.js"></script>
</head>
<body>
	<div class="findHeadTotal">
		<div class="phoneTextBlock">
			<div class="phoneBlock">
				<img src="/static/imgs/user/login/2.jpg" width="200" height="30">
			</div>
			<div class="textBlock">重置密码</div>
			<div class="operation">
				<div class="register"><a href="/user/register1">注册</a></div>
				<div class="login"><a href="/user/login">登录</a></div>
				<div class="index"><a href="/user">我的淘宝</a></div>
			</div>
		</div>
		<div class="findInformation">
			<div class="resetAll">
				<div class="resetTitle">你正在为账户 <span id="userDate"></span> 重置登录密码，请选择重置方式：</div>
				<div class="resetDetection">
					<img style="float: left;" src="/static/imgs/user/resetPasswords/correct.png" width="40" height="40">
					<div class="resetDetectionT">经过检测，你在<span>不常用的环境</span>下操作，需要进行安全校验</div>
				</div>
				<div class="verification">
					<img style="float: left;" src="/static/imgs/user/resetPasswords/phone.png" width="60" height="60">
					<div class="verificationT">通过“验证短信”<span>推荐</span></div>
					<div class="verificationReset"><div class="verificationResetSon"><a class="verificationResetAlink" href="/user/phoneReset?phone=<%= phone %>&user_id=<%= user_id %>">立刻重置</a></div></div>
				</div>
				<div class="verification">
					<img style="float: left;" src="/static/imgs/user/resetPasswords/safetyEncrypted.png" width="60" height="60">
					<div class="verificationT">通过“验证密保问题”<span></span></div>
					<div class="verificationReset"><div class="verificationResetSon"><a class="verificationResetAlink" href="/user/securitQuestionVerification?user_id=<%= user_id %>">立刻重置</a></div></div>
				</div>
				<div class="verification">
					<img style="float: left;" src="/static/imgs/user/resetPasswords/labour.png" width="60" height="60">
					<div class="verificationT">通过“人工服务”<span></span></div>
					<div class="verificationReset"><div class="verificationResetSon"><a class="verificationResetAlink" href="/user/">立刻重置</a></div></div>
				</div>
			</div>
		</div>
		<input style="display: none;" type="password" name="phone" id="phone" value="<%= phone %>">
	</div>


               
<script type="text/javascript" src="/static/js/user/resetPasswords.js"></script>

</body>
</html>